.animation-wrapper {
    min-height: 100vh;
    @apply opacity-0;

    animation: appearance $transition-page forwards;
}

@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}