.btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    height: 48;
    background-color: $color-red;
    color: $color-white;
    cursor: pointer;
    transition: background-color ease-in 0.3s;
    text-transform: uppercase;
    outline: none;
    font-family: $ff-monserat;

    &:hover {
        background-color: $color-red-light;
    }

    &:focus-visible,
    &:active {
        background-color: $color-red-dark;
    }

    &:disabled {
        background-color: $color-gray-dark;
    }
}