.feedback {
    margin-bottom: 54px;

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        color: $color-orange;
        font-family: $ff-tektur;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
        min-width: 330px;
        color: $color-gray-light;
    }

    &__btn {
        margin-bottom: 40px;

        &::before {
            transform: translate(100vw, 0);
            transition: transform $transition-page;
            @apply w-[100vw] h-[200vh] bg-black-custom rounded-[20px] content-[''] absolute z-40 opacity-100
        }

        &--active {
            &::before {
                transform: translate(0, 0);
            }
        }
    }
}

