.feedback-card {
    background-color: $color-light-gray;
    @apply flex flex-col p-[19px] relative;


    @include vp-desktop-wide {
        max-width: 480px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        margin: 0 auto 25px;
        text-align: center;
        font-family: $ff-tektur;

        @include vp-desktop-wide {
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            margin-bottom: 18px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 47px;

        @include vp-desktop-wide {
            font-size: 18px;
            line-height: 130%;
            margin-bottom: 58px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @include vp-desktop-wide {
            gap: 40px;
        }
    }

    &__btn {
        flex-shrink: 0;
        align-self: center;

        @include vp-desktop-wide {
            max-width: 440px;
            font-family: Montserrat;
            font-size: 20px;
            line-height: 120%;
            padding: 12px 100px;
            margin-bottom: 12px;
        }
    }

    &::before {
        width: calc(100% - 12px);
        @apply absolute top-[5px] left-[6px] content-[''] h-[14px] border-[3px] border-red border-b-transparent
    }

    &::after {
        width: calc(100% - 12px);
        @apply absolute bottom-[5px] left-[6px] content-[''] h-[14px] border-[3px] border-red border-t-transparent
    }

    &__success {
        background-color: $color-red;
        @apply fixed top-[20px] left-[20px] w-[339px] h-[78px] text-white p-[5px] rounded-[10px] opacity-0 z-50;

        &--active {
            animation: appearance $transition-animation forwards, disappearance $transition-animation forwards 5s
        }
    }

    &__success-wrapper {
        @apply w-full h-full flex px-[35px] py-[17px] justify-between items-center rounded-[10px];
        border: 1px solid $color-gray-light;
        font-family: Tektur;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
    }

    &__tick {
        @apply w-[35px] h-[35px] flex items-center justify-center bg-black-custom rounded-[50%]
    }

    &__tick-icon {
        color: $color-screamin-green
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappearance {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}