.header {
    height: 70px;

    &__logo {
        cursor: pointer;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__btn {
        display: none;
        cursor: pointer;
    }

    &--landing {
        margin-bottom: 34px;
    }

    &--dashboard {
        margin-bottom: 15px;
    }

    &--query {
        margin-bottom: 20px;

        .header__btn {
            display: block;
        }
    }

    .container {
        height: 100%;
    }
}